<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stigzler.ScreenScraper.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <stigzler.ScreenScraper.Test.Properties.Settings>
            <setting name="DevID" serializeAs="String">
                <value>stigzler</value>
            </setting>
            <setting name="DevPassword" serializeAs="String">
                <value>85c4bFxP43TWCdvQ</value>
            </setting>
            <setting name="DevSoftware" serializeAs="String">
                <value>OmniGameZ</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>stigzler</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>astraastra</value>
            </setting>
            <setting name="ApiHostAddress" serializeAs="String">
                <value>https://www.screenscraper.fr</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ApiPathRoot" serializeAs="String">
                <value>api2</value>
            </setting>
            <setting name="SystemID" serializeAs="String">
                <value />
            </setting>
            <setting name="RomFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UserThreads" serializeAs="String">
                <value>7</value>
            </setting>
        </stigzler.ScreenScraper.Test.Properties.Settings>
    </userSettings>
</configuration>